html{
  font-size: 20px;
}

.tltle {
  background: #ffffff;
  padding-bottom: .7rem;
}
.tltle ul li .one {
  width: 18rem;
}
.tltle ul {
  margin-top: .375rem;
}
.tltle ul li {
  text-align: center;
}
.tltle ul li .two {
  width: 12.675rem;
  margin-top: .875rem;
}
.tltle ul li p {
  font-size: .65rem;
  color: #57b4f0;
  margin: 0;
  margin-top: .925rem;
}
.center .center_top ul {
  display: flex;
  justify-content: space-around;
  background: #fff;
  margin-top: .45rem;
}
.center .center_top ul .lang {
  font-size: .75rem;
  font-weight: normal;
  color: #333333 !important;
}
.center .center_top ul li {
  font-size: .75rem;
  font-weight: normal;
  color: #666666;
  margin-top: .8rem;
  margin-bottom: .75rem;
}
.center_title ul li .ddxg {
  width: 4.725rem;
  height: 4.725rem;
  margin: 1.125rem 0 1.125rem 1.075rem;
}
.center_title {
  position: relative;
  background: #fff;
  margin-top: .45rem;
  padding-bottom: .675rem;
}
.center_title ul li .dazhe {
  position: absolute;
  width: 1.15rem;
  height: 1.275rem;
  margin-left: .425rem;
}
.center_title ul li {
  display: flex;
}
.onebyone {
  font-size: .85rem;
  font-weight: normal;
  color: #000000;
  margin-top: 1.25rem;
}
.onebytwo {
  font-size: .7rem;
  font-weight: normal;
  color: #999999;
  margin-top: .35rem;
  margin-bottom: .4rem;
}
.onebythree {
  font-size: .6rem;
  font-weight: normal;
  color: #999999;
}
.onebyfour {
  font-size: .5rem;
  font-weight: normal;
  color: #008ce7;
  margin-top: .8rem;
}
.box {
  width: 2.875rem;
  height: .825rem;
  border-radius: .125rem;
  border: solid .05rem #008ce7;
  display: inline;
  padding: .175rem .325rem .175rem .325rem;
  margin-top: .4rem;
}
.center_title ul li p .oneby2 {
  font-size: .75rem;
  font-weight: normal;
  color: #008ce7;
}
.onebyby {
  margin-top: .8rem;
  display: flex;
  align-items: center;
}
.oneby3 {
  width: 2.5rem;
  font-size: .925rem;
  font-weight: normal;
  color: #008ce7;
}
.onebyby img {
  width: 1.625rem;
  position: absolute;
  height: 1.625rem;
  margin-left: 6.875rem;
}
.onebyby .img_one {
  width: 1.05rem;
  height: 1.05rem;
  margin-left: 4.9rem;
}
.str {
  position: absolute;
  margin-left: 6.45rem;
}
.onebyby .img_two {
  width: 1.05rem;
  height: 1.05rem;
  margin-left: 7.35rem;
}
.p {
  text-align: center;
  font-size: .6rem;
  font-weight: normal;
  color: #666666;
  margin-top: 1.725rem;
  height: 1.45rem;
  background-color: #f2e8d9;
  padding-top: .475rem;
}
.bottom_left {
  display: flex;
}
.bottom {
  display: flex;
  height: 2.4rem;
  background-color: #4c4c4c;
  justify-content: space-between;
  position: relative;
}
.bottom .left_img img {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 1.125rem;
  position: absolute;
  top: -0.25rem;
}
.right_lang p:first-child {
  font-size: .9rem;
  font-weight: normal;
  color: #ffffff;
}
.right_lang p:last-child {
  font-size: .5rem;
  font-weight: normal;
  color: #999999;
}
.bottom_right {
  width: 6.1rem;
  height: 2.4rem;
  background-color: #008ce7;
  text-align: center;
  line-height: 2.4rem;
  font-size: .75rem;
  font-weight: 600;
  color: #ffffff;
}
.bottom box {
  width: 2.65rem;
  height: 2.65rem;
  background-color: #4c4c4c;
  position: absolute;
  border-radius: 100%;
  top: -0.475rem;
  left: .9rem;
}
.right_lang {
  position: absolute;
  left: 4.2rem;
  top: .425rem;
}
