.title {
  margin-top: 3.925rem;
  background: #fff;
  padding-top: 0.8rem;
  box-sizing: border-box;
}
.header {
  padding-bottom: 0.875rem;
  border-bottom: 0.05rem solid #eee;
}
.header span {
  font-size: 0.75rem;
  font-weight: normal;
  color: #666666;
  margin-left: 0.625rem;
}
.header p {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
}
.header img {
  width: 0.95rem;
  height: 0.95rem;
}
.list img:first-child {
  width: 0.95rem;
  height: 0.95rem;
}
.list_img {
  width: 3.8rem;
  height: 3.8rem;
  margin-left: 1.075rem;
}
.list_top {
  display: flex;
  align-items: center;
}
.right_top img {
  width: 0.725rem;
  height: 0.825rem;
  margin-left: 3.7rem;
}
.right_bottom img {
  width: 1.05rem;
  height: 1.05rem;
}
.list ul {
  display: flex;
  padding-bottom: 0.9rem;
  border-bottom: 0.025rem solid #eee;
}
.ul {
  margin-top: 0.575rem;
}
.right_top {
  display: flex;
  align-items: center;
}
.right_bottom {
  display: flex;
  align-items: center;
}
.list {
  margin-top: 0.575rem;
}
.list_top {
  margin-left: 0.7rem;
}
.right {
  margin-left: 1.4rem;
}
.right_top p {
  font-size: 0.75rem;
  font-weight: normal;
  color: #000000;
}
.right_center {
  font-size: 0.5rem;
  font-weight: normal;
  color: #008ce7;
  width: 2.875rem;
  height: 0.825rem;
  border-radius: 0.125rem;
  border: solid 0.025rem #008ce7;
  text-align: center;
  line-height: 0.825rem;
  margin-top: 0.3rem;
}
.right_bottom span:first-child {
  font-size: 0.6rem;
  font-weight: normal;
  color: #008ce7;
}
.right_bottom span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: normal;
  color: #008ce7;
}
.right_bottom span:nth-child(3) {
  font-size: 0.6rem;
  font-weight: normal;
  color: #999999;
}
.bottom_one {
  margin-left: 2.175rem;
}
.right_bottom span:nth-child(5) {
  margin-left: 0.775rem;
  font-size: 0.7rem;
  font-weight: normal;
  color: #333333;
}
.bottom_two {
  margin-left: 0.85rem;
}
html {
  font-size: 20px;
}
